@model IEnumerable<VetsEvents.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<ul class="vetevents">
    @foreach (var vetEvent in Model)
    {
    <li>
        <div class="date">
            <div class="month">
                @vetEvent.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @vetEvent.DateTime.ToString("d ")
            </div>
        </div>
        <div class="details">
            <span class="organizer">
                @vetEvent.EventOrganizer.Name
            </span>
            <span class="eventtype">
                @vetEvent.EventType.Name
            </span>
        </div>
    </li>
        
    }
</ul>