@model IEnumerable<VetsEvents.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var vetEvent in Model)
    {
        <li>@vetEvent.DateTime - @vetEvent.EventOrganizer.Name</li>
        
    }
</ul>