body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Patua One, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #555;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.voffset {
    margin-top: 2px;
}
.voffset2{
    margin-top: 5px;
}
.voffset3 {
    margin-top: 10px;
}
.voffset4 {
    margin-top: 20px;
}
.voffset5 {
    margin-top: 45px;
}
/*Bootstrap Overrides*/

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.btn-primary {
    color: #fff;
    background-color: #4576fe;
    border-color: #2e6da4;
}
.navbar-inverse {
    background-color: #4576FE;
    border-color: #C8C8C8;
    border-bottom: 4px solid #C8C8C8;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 26px;
}
.form-group {
    margin-bottom: 27px;
}
.form-control {
    display: inherit;
    width: 100%;
    height: 47px;
    padding: 1px 15px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    border: 2px solid #ccc;
    border-radius: 16px;
    font-weight: 200;
}
.field-validation-error {
    color: #f00;
}
.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.42857143;
    border: 1px solid #555;
    border-radius: 12px;
    border-radius: 8px;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.dropdown-item {
    display: block;
    width: 175px;
    padding: 1.25rem 0.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    background-color: transparent;
    border: 0;
}
.navbar-inverse  {
    color: #fff;
    background-color: #2251d4;
}
.navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 15px;
}
.navbar-inverse .notifications{
    position:relative;
}
.navbar-inverse .notifications .badge {
    position:absolute;
    top:8px;
    right:0;
    background-color:#e6163d;
    color:#f9fafc
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #1b3fa2;
}
.popover-title {
    padding: 3px 3px;
    background-size: auto;
    margin: 0;
    font-size: 14px;
    background-color: #2251d4;
    border-bottom: 1px solid #ebebeb;
    color: #fff;
    border-radius: 5px 5px 0 0;
    font-family: Patua One, Helvetica, Arial, sans-serif;
    text-align:center;
}
.popover-content {
    background: center center no-repeat;
    margin-bottom:20px;
    color: black;
    text-anchor:start;
}
/*PAGE-LEVEL STYLES*/
.vetevents {
    list-style: none;
}
.vetevents> li{
    position:relative;
    margin-bottom:30px;
   

}
.vetevents > li .details{
    position: absolute;
    top:0;
    left: 70px;
}
.vetevents > li .date{
    background:red;
    color:white;
    text-align:center;
    width:60px;
    border-radius:8px;
}
.vetevents > li .date .month{
    text-transform:uppercase;
    font-size:14px;
    padding:2px 6px;
}
.vetevents > li .date .day{
    background:#f7f7f7;
    color:#333;
    font-size:20px;
    padding: 6px 12px;
}
.vetevents > li .details .organizer{
    font-weight:600;
    display:block;

}
.vetevents> li .details .eventtype{
    font-size:12.5px;
}
.eventtype{
    padding-right: 0.5em;
}
.vetevents > li .actions {
    font-size: 15px;
    display:none;
}
.vetevents > li:hover .actions {
    display: block;
}
.label{
    color:black;
}
.popover-notifications .popover-content{
    padding:0;
}
.popover-notifications ul.notifications {
    list-style: none;
    padding-left: 0;
}
.popover-notifications ul.notifications > li{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
    border-bottom: none;
}
    .popover-notifications ul.notifications .highlight {
        font-weight: bold;
    }
#searchEvents {
    width: 300px;
}
#searchTerm {
    font-style: italic;
    font-size: 10px;
}



