@model VetsEvents.ViewModels.DetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@Model.EventOrganizer
@if (User.Identity.IsAuthenticated)
{
    if (Model.IsFollowing)
    {
        <button class="btn btn-primary">Following</button>
    }
    else
    {
        <button class="btn btn-primary">Follow</button>
    }
}
<br />
@Model.Venue
@Model.DateTime.ToShortDateString()

@if (User.Identity.IsAuthenticated)
{
    if (Model.IsGoing)
    {
        <p>You are going to this event</p>
    }
    else
    {
    }
}