@model VetsEvents.ViewModels.DetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>
    @Model.EventOrganizer
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsFollowing)
        {
            <button class="btn btn-info">Following</button>
        }
        else
        {
            <button class="btn btn-info">Follow</button>
        }
    }
</h2>
<p>
    Event Location : @Model.Venue <br />
    Time and Date : @Model.DateTime.ToShortDateString() @Model.DateTime.ToShortTimeString()
</p>
    

    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsGoing)
        {
        <p>You are going to this event</p>
    }
}
